In [55]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import statistics
%matplotlib inline

df = pd.read_csv('plane_crashes_data.csv')
print(df)

      month hour  year                                           location  \
0         1   12  1950                                Near Vacas, Bolivia
1         3   20  1950                             Minneapolis, Minnesota
2         3   14  1950                    Llandow Airport, Cardiff, Wales
3         4   23  1950                                 Near Atsugi, Japan
4         5   20  1950                      Lagens Air Force Base, Azores
5         5   10  1950                       Myrtle Beach, South Carolina
6         5   17  1950                              Teterboro, New Jersey
7         6   22  1950                           AtlantiOcean off Florida
8         6   19  1950                             Near Fonseca, Colombia
9         6   21  1950                                        Off Bahrain
10        6   21  1950                                        Off Bahrain
11        6   23  1950   Lake Michigan, 18 NNW of Benton Harbor, Michigan
12        6   23  1950                                    York, Australia
13        7    4  1950                          Off O-shima Island, Japan
14        8   22  1950                         Near Fairfield, California
15        8    0  1950                            Near Wadi Natrun, Egypt
16        9   14  1950                                    Utica, New York
17        9    5  1950                        Kwajalein, Marshall Islands
18        9    1  1950                          Near Kyushu Island, Japan
19       10   19  1950                           London Heathrow, England
20       11    9  1950                                 Mont Blanc, France
21       11    8  1950                                     Butte, Montana
22       11   18  1950                       Mt.  Tete de L'Obiou, France
23       12   13  1950                                  Valera, Venezuela
24       12    7  1950                           Near Baguio, Philippines
25       12   13  1950                Penticton, British Columbia, Canada
26        1   14  1951                         Philadelphia, Pennsylvania
27        1   12  1951                           Near Reardon, Washington
28        1   14  1951                          Near Civitavecchia, Italy
29        1    8  1951                               Near An tung, Taiwan
...     ...  ...   ...                                                ...
2679     11   18  2008                                Mexico City, Mexico
2680     11   11  2008  Between Kibo & Mawenzi Peaks of Mt. Kilimanjar...
2681     11   11  2008                                     Fallujah, Iraq
2682     11   10  2008         Thormanby Island, British Columbia, Canada
2683     11   17  2008                              Off Perpignan, France
2684     12   12  2008                              San Juan, Puerto Rico
2685     12    6  2008                             Off Sabine Pass, Texas
2686     12   16  2008                       Off Turks and Caicos Islands
2687      1   15  2009                               Near Houma Louisiana
2688      1   15  2009                                 New York, New York
2689      2   14  2009                                 Manacapuru, Brazil
2690      2    6  2009                                    Trigoria, Italy
2691      2   22  2009                          Clarence Center, New York
2692      2   16  2009                                      Chanco, Chile
2693      2    4  2009                                       Luxor, Egypt
2694      2   10  2009                             Amsterdam, Netherlands
2695      3    5  2009                              Lake Victoria, Uganda
2696      3    9  2009                        Off St. Johns, Newfoundland
2697      3   14  2009                                     Butte, Montana
2698      3    6  2009                                       Tokyo, Japan
2699      4   14  2009                              Off Crimond, Scotland
2700      4   12  2009                                 Bandung, Indonesia
2701      4    7  2009                             Near Wamena, Indonesia
2702      4   10  2009                           Mount Gergaji, Indonesia
2703      4   15  2009                   Canaima National Park, Venezuela
2704      4    6  2009                 Massamba, DemocratiRepubliof Congo
2705      5   12  2009                   Near El Alto de Rubio, Venezuela
2706      5    6  2009                             Near Madiun, Indonesia
2707      6    0  2009  AtlantiOcean, 570 miles northeast of Natal, Br...
2708      6    8  2009       Near Port Hope Simpson, Newfoundland, Canada

                                        operator  \
0                  Military - Bolivian Air Force
1                      Northwest Orient Airlines
2                                Fairflight Ltd.
3                      Military - U.S. Air Force
4                      Military - U.S. Air Force
5                      Military - U.S. Air Force
6                          Regina Cargo Airlines
7                              Westair Transport
8                             New Tribes Mission
9                                     Air France
10                                    Air France
11                     Northwest Orient Airlines
12                                    Ansett ANA
13                     Military - U.S. Air Force
14                     Military - U.S. Air Force
15                          Trans World Airlines
16                             Robinson Airlines
17                          Military - U.S. Navy
18                     Military - U.S. Air Force
19                      British European Airways
20                                     Air India
21                     Northwest Orient Airlines
22    Curtiss-Reid Flying Services Ltd. (Canada)
23                                        Avensa
24                     Military - U.S. Air Force
25                      Canadian PacifiAir Lines
26                             National Airlines
27                     Northwest Orient Airlines
28                                      Alitalia
29                     Military -Royal Air Force
...                                          ...
2679                          Mexican Government
2680                   East African Air Charters
2681                       Falcon Aviation Group
2682                      PacifiCoastal Airlines
2683      XL Airways leased from Air New Zealand
2684              Webstas Aviation Services Inc.
2685                       Rotorcraft Leasing Co
2686                            Alantis Aviation
2687                   Petroleum Helicopters Inc
2688                                  US Airways
2689                             Aerotaxi Manaus
2690                           Air One Executive
2691           Continental Connection/Colgan Air
2692                              Flight Service
2693                                    Aerolift
2694                            Turkish Airlines
2695                                    Aerolift
2696                          Cougar Helicopters
2697                           Eagle Cap Leasing
2698                                       FedEx
2699                   Bond Offshore Helicopters
2700             Military - Indonesian Air Force
2701                            Aviastar Mandiri
2702                                  Mimika Air
2703                             Aerotuy airline
2704                                    Bako Air
2705                  Military - Venezuelan Army
2706             Military - Indonesian Air Force
2707                                  Air France
2708                                  Strait Air

                                                  route  \
0                             Valle grande - Cochabamba
1                         Rochester Minn. - Minneapolis
2                                      Llandow - Dublin
3                                   Philippines - Japan
4                                     Bermuda - England
5                                                   NaN
6                                                   NaN
7                              San Juan - Wilmington NC
8              Kingston, Jamacia - Maracaibo, Venezuela
9                                        Saigon - Paris
10                                       Saigon - Paris
11                 New York City - Minneapolis-St. Paul
12                                Guildford - Melbourne
13                                                  NaN
14                                                  NaN
15                                         Cairo - Rome
16                               Utica, NY - Newark, NJ
17                                   Kwajzalein - Tokyo
18                                 Ashiya AB - Kimpo AB
19                                       Paris - London
20                     Bombay - Cairo - Geneva - London
21                                       Helena - Butte
22                                         Rome - Paris
23                                     Merida - Caracas
24                                   Naha AB - Clark AB
25                                Vancouver - Penticton
26                                Newark - Philadelphia
27                                Minneapolis - Seattle
28                                         Paris - Rome
29                           Hong Kong - Iwakuni, Japan
...                                                 ...
2679                      San Luis Potosi - Mexico City
2680               Kampi ya Kanzi Airstrip - Loitokitok
2681                         al-Asad air base - Baghdad
2682              Vancouver - Powell River - Toba Inlet
2683                                           Training
2684              Tortola Virgin Islands - San Juan, PR
2685                         Sabine Pass - Oil Platform
2686        Santiago, Dominican Republi- Providenciales
2687              Bayou Penchant - Off shore oil fields
2688                        New York, NY- Charlotte, NC
2689                                      Coari - Manus
2690                                     Rome - Bologna
2691                         Newark, N.J. - Buffalo, NY
2692                                                NaN
2693  Entebbe, Uganda - Luxor, Egypt - Niklaev, Ukraine
2694          Istanbul, Turkey - Amsterdam, Netherlands
2695               Entebbe, Uganda - Mogadishu, Somalia
2696                      St. Johns - Hibernia platform
2697                           Oroville, CA - Butte, MT
2698                    Guangzhou, China - Tokyo, Japan
2699                            Miller field - Aberdeen
2700                                 Militiary training
2701                                  Jayapura - Wamena
2702                                      Ilaga - Mulia
2703                                 Canaima - Porlamar
2704  Bangui, CAR- Brazzaville, Congo - Harare, Zimb...
2705                                             Patrol
2706                                   Jakarta - Maduin
2707                             Rio de Janeiro - Paris
2708          Lourdes de BlanSablon - Port Hope Simpson

                                     type  aboard  fatalities  \
0                            Douglas C-47      32          32
1                              Martin 202      13          13
2                        Avro 689 Tudor 5      83          80
3                           Douglas C-54D      35          35
4                             Boeing B-29      16          16
5                           Curtiss C-46D      39          39
6                      Curtiss C-46F-1-CU       2           1
7                     Curtiss C-46-F-1-CU      65          28
8                        Douglas DC-3-178      15          15
9                       Douglas DC-4-1009      52          46
10                      Douglas DC-4-1009      53          40
11                           Douglas DC-4      58          58
12                      Douglas DC-4-1009      29          29
13                          Douglas C-47D      26          25
14                          Boeing B-29MR      20          12
15            Lockheed 749A Constellation      55          55
16                           Douglas DC-3      23          16
17                          Douglas R5D-3      26          26
18                Douglas C-54D-DC (DC-4)      51          23
19                  Vickers 610 Viking-1B      30          28
20             Lockheed 749 Constellation      48          48
21                             Martin 202      21          21
22                     Douglas C-54B-1-DC      52          52
23                        Douglas C-47-DL      31          31
24                 Douglas C54E-DO (DC-4)      38          38
25                           Douglas DC-3      18           2
26                      Douglas DC-4-1009      28           7
27                             Martin 202      10          10
28                 Savoia Marchetti SM-95      17          14
29       Short Sunderland 9 (flying boat)      16          16
...                                   ...     ...         ...
2679                           Learjet 45       8           8
2680                           Cessna 206       5           4
2681                        Antonov An-12       7           7
2682                  Grumman G-21A Goose       8           7
2683                      Airbus A320-232       7           7
2684          Rockwell International 690B       3           3
2685           Bell 206-L4 Jet Ranger III       3           3
2686  Britten Norman BN-2A Trislander Mk3      12          12
2687                       Sikorsky S-76C       9           8
2688                      Airbus A320-214     155           0
2689                Bandeirante EMB-110P1      28          24
2690              Cessna 650 Citation III       2           2
2691            Bombardier DHC-8-402 Q400      49          49
2692                           Bell UH-1H      13          13
2693                          Antonov 12V       5           5
2694                       Boeing 737-8F2     134           9
2695                      Ilyushin Il-76T      11          11
2696                       Sikorsky S-92A      18          17
2697                     Pilatus PC-12/45      14          14
2698              McDonnell Douglas MD-11       2           2
2699     Eurocopter AS 332L2 Super Puma 2      16          16
2700          Fokker F-27 Friendship 400M      24          24
2701        British Aerospace BAe-146-300       6           6
2702                         Pilatus PC-6      11          11
2703            Cessna 208B Grand Caravan      11           1
2704                     Boeing B-737-200       7           7
2705                                Mi-35      18          18
2706              Lockheed C-130 Hercules     112          98
2707                      Airbus A330-203     228         228
2708     Britten-Norman BN-2A-27 Islander       1           1

                                                summary
0     Crashed while en route in the Andes mountains ...
1     Crashed into a flag pole, well marked by red n...
2     During the approach to Runway 28 at Llandow Ai...
3     Flew off its prescribed course and crashed int...
4     Crashed while attempting to land after being d...
5     Lost the left aileron after taking off, lost c...
6     The cargo plane lost an engine on takeoff and ...
7     Ditched into the Atlanti300 miles east of Melb...
8     Crashed and burned 19 miles east northeast of ...
9     While making a final approach for Bahrain, the...
10    The aircraft crashed into the Persian Gulf whi...
11    En route from New York to Minneapolis, the air...
12    The airliner experienced trouble with all four...
13    The aircraft took off from O-shima and reached...
14    The No. 2 propeller began to overspeed during ...
15    While en route from Cairo to Rome, witnesses o...
16    Engine parts were observed falling from a heig...
17    Crashed into the sea and exploded 3 minutes af...
18    Crashed in the Korea strait 1mile from the end...
19    Crashed in fog in an overshoot after deciding ...
20    The aircraft crashed in a snowstorm 200 meters...
21    The pilot failed to follow the carrier's presc...
22    The aircraft drifted 50 miles off the prescrib...
23    The aircraft crashed into mountains shortly af...
24    Proceeding on instruments, the aircraft crashe...
25    Struck trees on  Mt. Okanagan while making an ...
26    The plane overshot the landing, ran into a dit...
27    While cruising at 6,000 ft.,  the aircraft whe...
28    The aircraft plunged to the ground from 6,500 ...
29    Crashed into mountainous terrain while en rout...
...                                                 ...
2679  Mexican Interior Minister Juan Camilo Mourino,...
2680  After taking off, the aircraft climbed to 12,5...
2681  The cargo plane, chartered by FedEx, crashed w...
2682  The charter aircraft crashed into a steep hill...
2683  The Airbus A320 was leased by XL Airways of Ge...
2684  The plane struck the side of El Yunque mountai...
2685  The helicopter ferrying workers to an off shor...
2686  The charter flight disappeared from radar 35 m...
2687  A helicopter bound for offshore oil fields wen...
2688  The plane was taking off from La Guardia Airpo...
2689  The plane was being used as an air taxi to fer...
2690  The plane, heading to Bologna to pick up a med...
2691  The commuter plane crashed while attemptiong t...
2692  The helicopter was carrying firemen to a nearb...
2693  While attemping to take off from Luxor, the ca...
2694  The plane was on final approach to Runway 18R ...
2695  The cargo plane carrying and water purificatio...
2696  The pilot reported a technical malfunction and...
2697  The plane crashed 500 feet short of the runway...
2698  The cargo plane crashed and burst into flame a...
2699  The helicopter crashed 35 miles East of Crimon...
2700  While returning from a military training exerc...
2701  The cargo plane crashed into Gunung Pike mount...
2702  The passenger plane crashed in poor weather in...
2703  The plane, carrying 9 tourists, crashed 5 mile...
2704  Crashed while en route on a ferrying flight. T...
2705  The helicopter was patrolling along the Venezu...
2706  While on approach, the military transport cras...
2707  The Airbus went missing over the AtlantiOcean ...
2708  The air ambulance crashed into hills while att...

[2709 rows x 10 columns]

In [56]:
# Calculate the mean of the fatalities for the years 1980 to 2009 inclusive.
# Dataframe goes from 1950 to 2009.
eighties = df.loc[lambda df: df['year'] > 1979, :]
eighties_mean = eighties.mean()
print(eighties_mean)

month            6.567733
year          1995.346494
aboard          36.870660
fatalities      24.932607
dtype: float64

In [57]:
# Calculate which month that has the most plane crashes out of 1950 to 2009.
# Mode is the most number of times something appears.
# Month of 1 means it is January.
mode = statistics.mode(df['month'])
print('The mode of this dataset is {}.'.format(mode))

The mode of this dataset is 1.

In [58]:
# Calculate the highest number of fatalities in a single crash.
# .idxmax() returns index labels.
fatal_high = df.loc[df['fatalities'].idxmax()]
print(fatal_high)

month                                                         3
hour                                                         17
year                                                       1977
location                               Tenerife, Canary Islands
operator                       Pan American World Airways / KLM
route             Tenerife - Las Palmas / Tenerife - Las Palmas
type                       Boeing B-747-121 / Boeing B-747-206B
aboard                                                      644
fatalities                                                  583
summary       Both aircraft were diverted to Tenerife becaus...
Name: 1105, dtype: object

In [59]:
# Calculate the percentage of crashed flights that is 1 or more fatalities.
fatally_high = 0
for i in df['fatalities']:
    if i >= 1:
        #print(df['fatalities'][i])
        fatally_high += 1
fatal_percent = fatally_high / len(df['fatalities'])
print(fatal_percent * 100)

98.19121447028424

In [60]:
# Calculate the average percent of passengers & crew killed per plane crash for entire period.
percent_sum = 0
for i in df['fatalities']:
    aboard = df['aboard'][i]
    fatal = df['fatalities'][i]
    percent = fatal / aboard
    percent_sum += percent
    #print(percent)
    
print(len(df['fatalities']))
print(percent_sum)
print(percent_sum / len(df['fatalities']))

2709
2386.90004341
0.881100052938

In [65]:
# Testing if different by rounding
from decimal import Decimal
percent_sum = 0
for i in df['fatalities']:
    aboard = df['aboard'][i]
    fatal = df['fatalities'][i]
    percent = Decimal(fatal / aboard)
    percent_sum += round(percent,2)
    #print(percent)
    
print(len(df['fatalities']))
print(percent_sum)
print(percent_sum / len(df['fatalities']))

2709
2385.08
0.8804282022886674049464747139